<link href="partials/upperBar.css" rel="stylesheet" type="text/css" />
<div id="upperBar">
  <p><a href="/">Strona Główna</a></p>
  <p><a href="/addproduct">Dodaj Produkt</a></p>
  <p> <a href="/addrecipe">Dodaj Receptę</a></p>
  <div id="loginForm">
        
    <% if (LOGGED_IN) { %>
        <%- include('userPanel') -%>
    <% } else { %>
        <%- include('loginForm') -%>
    <% } %>
  </div>
</div>