
<%- include('partials/head_meta')  -%>  
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.datatables.net/v/dt/dt-1.13.8/b-2.4.2/sp-2.2.0/sl-1.7.0/datatables.min.css" rel="stylesheet"> 
    <script src="https://cdn.datatables.net/v/dt/dt-1.13.8/b-2.4.2/sp-2.2.0/sl-1.7.0/datatables.min.js"></script>
   <!--
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
   -->
    <link href="AddRecipe.css" rel="stylesheet" type="text/css">
   
    
</head>


<body>
    <div id="upperBar">
        <%- include('partials/upperBar') -%>
    </div>
    
    
    <div id="main_container">
                
        <div class="divcol" id="AddRecipe">
            <div id="RecipeForm" class="divsub">
                <h2>Nowa receptura</h2>
                
                <table id="dataTable_recipe" class="display">
                    <thead>
                        <tr>           
                            <th>Nazwa</th>
                            <th>Marka</th>
                            <th>Porcja [g]</th>
                            <th>Porcja z listy</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                        <tr>          
                            <th>Nazwa</th>
                            <th>Marka</th>
                            <th>Porcja [g]</th>
                            <th>Porcja z listy</th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            
            <div id="RecipeCalc" class="divsub">
                 <h3>Razem:</h3>
                <table id="dataTableCalc" class="display">
                    <thead>
                        <tr>
                            <th>kj</th>
                            <th>kcal</th>
                            <th>Tłu</th>
                            <th>Węg</th>
                            <th>Cuk</th>
                            <th>Bia</th>
                            <th>Bło</th>
                            <th>Sól</th>                   
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            
            <div id="RecipeDescription" class="divsub">
                 <h3>Dodaj Opis</h3>
                
            </div>
            
            <div id="RecipePhotos" class="divsub">
                 <h3>Dołącz Zdjęcia</h3>
                
            </div>
        </div>
        
   <!--   --------------------------  ----------------------------------------------------------------------->     
        <div class="divseparator"></div>
        
        
        <div class="divcol" id="ProductList">
            
            <div id="uList" class="divsub">
                <h2>Lista Twoich produktów</h2>
                <table id="dataTable" class="display">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Kategoria</th>
                            <th>Nazwa</th>
                            <th>Marka</th>
                            <th>kj</th>
                            <th>kcal</th>
                            <th>Tłu</th>
                            <th>Węg</th>
                            <th>Cuk</th>
                            <th>Bia</th>
                            <th>Bło</th>
                            <th>Sól</th>                   
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                        <tr>
                             <th></th>
                            <th>Kategoria</th>
                            <th>Nazwa</th>
                            <th>Marka</th>
                            <th>kj</th>
                            <th>kcal</th>
                            <th>Tłu</th>
                            <th>Węg</th>
                            <th>Cuk</th>
                            <th>Bia</th>
                            <th>Bło</th>
                            <th>Sól</th>                  
                        </tr>
                    </tfoot>
                </table>
            </div>
        
            <div id="pList" class="divsub">
                <h2>Produkty w bazie</h2>
                <table id="dataTablePub" class="display" width="auto">
                <thead>
                    <tr>
                        <th></th>
                        <th>Kategoria</th>
                        <th>Nazwa</th>
                        <th>Marka</th>
                        <th>kj</th>
                        <th>kcal</th>
                        <th>Tłu</th>
                        <th>Węg</th>
                        <th>Cuk</th>
                        <th>Bia</th>
                        <th>Bło</th>
                        <th>Sól</th>
                        <th>Autor</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                  <tfoot>
                    <tr>
                        <th></th>
                        <th>Kategoria</th>
                        <th>Nazwa</th>
                        <th>Marka</th>
                        <th>kj</th>
                        <th>kcal</th>
                        <th>Tłu</th>
                        <th>Węg</th>
                        <th>Cuk</th>
                        <th>Bia</th>
                        <th>Bło</th>
                        <th>Sól</th>
                        <th>Autor</th>
                       
                    </tr>
                </tfoot>
          </table>
                
            </div>        
         
        </div>
        

        
        
        
        
        
        
    </div>
    
    
     <script src="AddRecipe.js"></script>
</body>
</html>