<html>
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.datatables.net/v/dt/dt-1.13.8/b-2.4.2/sp-2.2.0/sl-1.7.0/datatables.min.css" rel="stylesheet"> 
    <script src="https://cdn.datatables.net/v/dt/dt-1.13.8/b-2.4.2/sp-2.2.0/sl-1.7.0/datatables.min.js"></script>
    <link href="AddRecipe.css" rel="stylesheet" type="text/css">
    <script src="AddRecipe.js"></script>
    
</head>   
<body>
    <div id="upperBar">
        <%- include('partials/upperBar') -%>
    </div>
    
    
    <div id="main_container">
        <div class="divcol" id="ProductList">
            <div id="uList">
                <h2>Lista produktów</h2>
                <table id="dataTable" class="display">
                    <thead>
                        <tr>
                            <th>Kategoria</th>
                            <th>Nazwa</th>
                            <th>Marka</th>
                            <th>kj</th>
                            <th>kcal</th>
                            <th>Tłu</th>
                            <th>Węg</th>
                            <th>Cuk</th>
                            <th>Bia</th>
                            <th>Bło</th>
                            <th>Sól</th>                   
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Kategoria</th>
                            <th>Nazwa</th>
                            <th>Marka</th>
                            <th>kj</th>
                            <th>kcal</th>
                            <th>Tłu</th>
                            <th>Węg</th>
                            <th>Cuk</th>
                            <th>Bia</th>
                            <th>Bło</th>
                            <th>Sól</th>                  
                        </tr>
                    </tfoot>
                </table>
            </div>
        
            <div id="pList">
                <table id="dataTablePub" class="display">
                <thead>
                    <tr>
                        <th>Kategoria</th>
                        <th>Nazwa</th>
                        <th>Marka</th>
                        <th>kj</th>
                        <th>kcal</th>
                        <th>Tłu</th>
                        <th>Węg</th>
                        <th>Cuk</th>
                        <th>Bia</th>
                        <th>Bło</th>
                        <th>Sól</th>
                        <th>Autor</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                  <tfoot>
                    <tr>
                        <th>Kategoria</th>
                        <th>Nazwa</th>
                        <th>Marka</th>
                        <th>kj</th>
                        <th>kcal</th>
                        <th>Tłu</th>
                        <th>Węg</th>
                        <th>Cuk</th>
                        <th>Bia</th>
                        <th>Bło</th>
                        <th>Sól</th>
                        <th>Autor</th>
                       
                    </tr>
                </tfoot>
          </table>
                
            </div>        
         
        </div>
        
        <div class="divseparator"></div>
        <div class="divcol" id="AddRecipe">
            <div id="RecipeForm">
                <h2>Nowa receptura</h2>
            </div>
        </div>
        
        
        
        
        
        
    </div>
    
    
    
</body>
</html>