<!DOCTYPE html>

<html>
<head>
    <title>Hello World</title>
     <%- include('partials/head_meta')  -%>  
    <link href="main.css" rel="stylesheet" type="text/css" />
   
</head>
<body>
    <div id="upperBar">
        <%- include('partials/upperBar') -%>
    </div>
    
    
    <h2> Kalkulator recept - zapraszamy </h2>
  
</body>
<script src="main.js"></script>
</html>
