#main_container {
  display: grid;
  grid-template-columns: 2fr 25px 1fr;
}

.divcol {
  text-align: center;
}

.divsub {
  border: solid 3px black;
  border-radius: 25px;
  margin-bottom: 10px;
  padding-left: 10px;
padding-bottom: 10px;
}

#RecipeForm {
  background: linear-gradient(90deg, #e27474, #D5D531, #008000);
  width: 100%;
  min-height: 300px;
}

#ProductList {
}

/* Datatables */

.searchColumnInput {
  width: 100%;
  padding: 3px;
  box-sizing: border-box;
}

table {
  display: inline-table;
  font-size: 90%;
  max-width: 95%;
}

table.dataTable tbody th,
table.dataTable tbody td {
  padding: 8px 4px;
  text-align: center
}

.paginate_button{
  padding: .1em 0.5em !important;
}

.btn_add {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  color: yellow;
  background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
  border: solid 2px yellow;
  border-radius: 5em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  padding: 1px 4px 1px 4px;
}

.btn_add:hover {
  background: linear-gradient(0deg, rgba(20,67,62,1) 0%, rgba(102,47,113,1) 100%);
}

.btn_add:active {
  background: linear-gradient(0deg, rgba(20,67,62,1) 0%, rgba(102,47,113,1) 100%);
}

/* Recipe Tables */

#RecipeCalc{
  background: linear-gradient(to top, LightSeaGreen, white);
}